<div class="comment_container">
  <% comments.each do |comment| %>
  <div class="individual_comment">
    <span class="commenter"><%= comment.commenter.username %> <i class="tiny gray-text material-icons">chat_bubble</i></span>
    <p class="comment"><%= comment.comment %></p>
  </div>
  <% end %>
</div>
