<div class="comment_container">
  <% comments.each do |comment| %>
  <span class="commenter"><%= comment.commenter.username %></span>
  <p class="comment"><%= comment.comment %></p>
  <% end %>
</div>
