<form name="search-bar" action='/search', method='POST'>
  <div class='search-input'>
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="tCI9cP01ooYp7Xkuv3MlUze2QtkM+yiymUrv8HcWS3kXtEaa2QVsHkGe0h+ekoqOtuFHnfZJFMdQElsmY9iwPQ==">
    <input type="text" name="search[search_term]" placeholder="search">
  </div>
  <div class="search-button">
    <button class="btn waves-effect waves-light red lighten-1" type="submit" name="Search">Search
      <i class="material-icons right">search</i>
    </button>
  </div>

</form>
