<h2>Hello I am a search bar!</h2>

<form name="search-bar" action='/search', method='POST'>
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="tCI9cP01ooYp7Xkuv3MlUze2QtkM+yiymUrv8HcWS3kXtEaa2QVsHkGe0h+ekoqOtuFHnfZJFMdQElsmY9iwPQ==">
  <input type="text" name="search[search_term]" placeholder="search">
  <input type="submit">
</form>
