#website-name{
  margin: 0 10px;
  margin-bottom: 20px;
  color:#FFFFFF;
  font-family: 'Cookie', cursive;
  font-size: 3.5em;
}

.center-container {
  margin: 50px auto;
  width: 900px;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
}

/* unvisited link */
a:link {
    color: #41a4cc;
}

/* visited link */
a:visited {
    color: #f7e841;
}

/* mouse over link */
a:hover {
    color: #f25e5e;
}

nav a:link {
  color: #FFFFFF;
}

nav a:visited {
  color: #FFFFFF;
}

h2 {
  font-family: 'Slabo 27px', serif;
  color: #41a4cc;
}

#login-form-container{
  width: 400px;
  margin: 0 auto;
}

div.individual_review {
  margin:0 100px;
  padding:10px;
  border:1px dotted grey;
  position:relative;
}

span.commenter {
  display:block;
  position:absolute;
  right:12%;
  color:grey;
}

p.comment {
  width:80%;
  margin-left:10%;
  border-bottom:1px solid grey;
}