header {
  display: flex;
  align-items:center;
  justify-content: space-around;
  margin: 50px 0px;
}

#name-and-logo {
  display: flex;
  align-items:center;
}

#logo{
  margin: 0 10px;
}

#website-name{
  margin: 0 10px;
  color:#488AC7;
  font-family: 'Cookie', cursive;
  font-size: 3.5em;
}

.center-container {
margin: 50px auto;
width: 900px;
padding: 10px 0;
border: 1px dashed #488AC7;
font-family: 'Roboto', sans-serif;
}
