body {
  background-image: asset-data-url("background.png");
  background-repeat: repeat;
}

#website-name{
  margin: 0 10px;
  margin-bottom: 20px;
  color:#FFFFFF;
  font-family: 'Cookie', cursive;
  font-size: 3.5em;
}

.center-container {
  margin: 50px auto;
  width: 900px;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
}

#do-not-hide {
  display: inline-block
}

#genre {
  display: inline-block
}

a.genre-tag:link {
    color: white;
}

a.genre-tag:visited  {
    color: white;
}

a.genre-tag:hover {
    color: #f25e5e;
}

a:link {
    color: #41a4cc;
}

a:visited {
    color: #aad1e0;
}

a:hover {
    color: #f25e5e;
}

nav a:link {
  color: #FFFFFF;
}

nav a:visited {
  color: #FFFFFF;
}


h2 {
  font-family: 'Slabo 27px', serif;
  color: #41a4cc;
}

h4 {
  font-family: 'Slabo 27px', serif;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #f7e841;
}

#user-form-container{
  width: 400px;
  margin: 0 auto;
}

div.individual_review {
  margin:0 50px;
  padding:10px;
  position:relative;
}

h5.review-title {
  font-size: 1.5em;
  font-family: 'Slabo 27px', serif;
}

.reviewer {
  font-weight: bold;
}

span.commenter {
  display:block;
  position:absolute;
  right:12%;
  color:grey;
}

p.comment {
  width:80%;
  margin-left:10%;
  border-bottom:1px solid grey;
}

// MOVIE SHOW VIEW

.movie-title-show {
  font-size: 3em;
  font-family: 'Slabo 27px', serif;
  border-bottom: 1px solid #ef5350;
  padding-bottom: 5px;
}

.poster {
  border: 1px dashed lightgrey;
}

p.extra-info {
  color: lightgrey;
}

.chip {
  margin-bottom: 10px;
}

.review-header {
  color: #aad1e0;
}
