<h5>Trusted Reviews</h5>
<% reviews.each do |review| %>
  <% if review.reviewer.trusted_reviewer? %>
    <%= render "reviews/show", review: review %>
  <% end %>
<% end %>

<h5>Other Reviews</h5>
<% reviews.each do |review| %>
  <% if !review.reviewer.trusted_reviewer? %>
    <%= render "reviews/show", review: review %>
  <% end %>
<% end %>
